body{
    background-color:  rgb(117, 170, 219);
}
h1{
    background-color: white;
    color: rgb(228, 228, 122);
}
p{
    background-color: rgb(107, 53, 15);
}
.clase-parrafo {
    background-color: blue;
    color: #fff;
}
.titulo-principal{
    color: purple;
}
#tituloPrincipal{
    color: rgb(31, 207, 99)
}