*{
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    height: 1500px;
}

.cabecera-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;/* esto es para que esten centrados verticalmente en sus cajas*/
    flex-direction: column;
}

.cabecera-principal .logo{
    width: 40px;
}

.tel-fijo {
    position: fixed; /*Esto es relativo al ViewPort*/
    bottom: 20px;
    right: 20px;
}
