* {
    box-sizing: border-box;
    /*cambiamos el borde a alternativo*/
}

html {
    font-family: sans-serif;
    font-size: 18px;
}

.span-lorem {
    display: block;
    width: 300px;
    height: 200px;
    color: red;
    margin: 20px;
    padding: 20px;
    border: 10px solid black;
    font-size: 1.2rem;
}

.cabecera-principal {
    display: flex;
    
}
ul{
    display: flex;
    gap: 10px;
    list-style: none;
}